<div>
  hello World Angular
  <!--<app-course-list></app-course-list>-->
  <!--<app-prop-binding></app-prop-binding>-->
  <!--<app-attr-binding></app-attr-binding>-->
  <!--<app-class-binding></app-class-binding>-->
  <!--<app-ng-class-binding></app-ng-class-binding>-->
  <!--<app-style-binding></app-style-binding>-->
  <!--<app-ng-style-binding></app-ng-style-binding>-->
  <!--<app-event-binding></app-event-binding>-->
  <!--<app-template-variable></app-template-variable>-->
  <!--<app-template-two-way-binding></app-template-two-way-binding>-->
  <!--<ng-model-twoway-binding></ng-model-twoway-binding>-->
  <!--<app-inbuild-pipes></app-inbuild-pipes>-->
  <!--<app-stuctural-directives></app-stuctural-directives>-->
  <!--<app-template-driven-form></app-template-driven-form>-->
  <!--<app-reactive-form></app-reactive-form>-->
  <!--<app-service-component></app-service-component>-->
  <!--<app-separation-concern></app-separation-concern>-->
  <!--<form-array></form-array>-->
  <!--<form-builder></form-builder>-->
   <!--<chnage-password></chnage-password>-->
   <app-optimistic></app-optimistic>
  
</div>