<div>
  <!--<div *ngIf="isCoursesAvailable()">
    Courses are present 
  </div>
  <div *ngIf="!isCoursesAvailable()">
  No courses is present 
  </div>-->

  <!--<div [hidden]="!isCoursesAvailable()">
    Courses are present 
  </div>
  <div [hidden]="isCoursesAvailable()">
  No courses is present 
  </div>-->
  <!--<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'view'"><a (click)="viewMode = 'view'">View mode</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List view</a></li>
  </ul>
  <div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'view'">
        View mode content
    </div>
    <div *ngSwitchCase="'list'">
        List view
    </div>
    <div *ngSwitchDefault>
      Others
    </div>
  </div>-->
<!--<div class="sub-menu">
  <ul>
    <button (click)="onAdd(course)">add</button>
    <li *ngFor="let course of courses">{{course.name}}
       <button (click)="onRemove(course)">remove</button> 
       </li>
  </ul>
</div>-->

<!--<div>
  <ul>
      <button (click)="loadCourse()">addCourse</button>
    <li *ngFor="let course of courses; trackBy:trackCourses">
     {{course.name}}
    </li>
  </ul>
</div>-->

<div>
  <input type="text" appCustomDrective></div>

</div>